.Button {
  display: inline-block;
  vertical-align: top;
  -webkit-appearance: none;
  border-radius: $border-radius;
  text-align: center;
  font-weight: $font-weight-normal;
  color: $text-on-primary;
  background-color: theme-color("primary");
  transition: $transition-duration-short background-color, $transition-duration-short border-color;
  box-shadow: none;
  border: 1px solid theme-color("primary");
  font-size: 16px;
  min-width: 98px;
  padding: 4px 8px;
  line-height: 1.5;
  text-decoration: none;

  &.disabled {
    background-color: theme-color("primary");

    &:hover {
      background-color: theme-color("primary500");
      border-color: theme-color("primary500");
    }
  }
}

.Button:hover,
.Button:focus,
.Button:active {
  text-decoration: none;
  color: $text-on-primary;
  outline: none;
}

.Button:hover {
  background-color: theme-color("primary500");
  border-color: theme-color("primary500");
}

.Button:focus {
  box-shadow: 0 0 6px theme-color("primary");
}

.Button:active {
  box-shadow: 0 0 6px theme-color("primary");
  background-color: theme-color("primary500");
  border-color: theme-color("primary500");
}

.Button:disabled {
  background-color: theme-color("primary100");
  border-color: theme-color("primary100");
}
