.MainMenu {
  display: none;
}

.MainMenu_list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  .menu-item {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-right: $grid-gutter-width;

    a {
      display: block;
      padding: ($grid-gutter-width / 2) 0;
    }
  }
}

@media (min-width: $mobile-menu-breakpoint) {
  .MainMenu {
    display: block;
  }
}
