.Topbar {
  display: none;
  border-bottom: $border-width solid $border-color;
}

.Topbar_spaceHolderCol {
  display: block;
  padding: 0;
  flex-grow: 1;
}

@media (min-width: $mobile-menu-breakpoint) {
  .Topbar {
    display: block;
  }
}
