.UtilMenu {
  margin-left: auto;
}

.UtilMenu_list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .menu-item {
    display: inline-block;
    vertical-align: top;
    margin-left: $grid-gutter-width;
  }

  a {
    display: inline-block;
    vertical-align: top;
    padding: ($grid-gutter-width / 2) 0;
  }
}
