.woocommerce {
  span.onsale {
    background-color: theme-color("primary500");
    line-height: 1;
    padding-top: 1em;
  }

  a.added_to_cart {
    display: block;
  }

  .woocommerce-breadcrumb {
    color: theme-color("secondary");

    a {
      color: theme-color("primary100");
    }
  }
}
