.woocommerce {
  span.onsale {
    background-color: theme-color("primary500");
    line-height: 1;
    padding-top: 1em;
  }

  a.added_to_cart {
    display: block;
  }

  .woocommerce-breadcrumb {
    color: theme-color("secondary");
    margin-bottom: $grid-gutter-width * 2;

    a {
      color: theme-color("primary100");
    }
  }

  table.shop_attributes {
    border-top: $border-width solid $border-color;

    th,
    td {
      border-bottom: $border-width solid $border-color;
    }
  }

  form.woocommerce-ordering {
    @extend .Form;
  }
}
