/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$white: #fff;
$gray-100: #ccc;
$gray-200: #999;
$gray-300: #666;
$gray-400: #333;
$black: #000;

$blue: #525ddc;

$theme-colors: (
  primary: $blue,
  secondary: $gray-200,
);

$text-color-400: $gray-400;
$text-color-300: $gray-300;

$body-bg:                   $white;
$body-color:                $text-color-400;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$root-font-size: 16px;

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;
