/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$white: #fff;
$gray-100: #efefef;
$gray-200: #ccc;
$gray-300: #999;
$gray-400: #666;
$gray-500: #333;
$black: #000;

$blue: #525ddc;
$teal-100: #138581;
$teal-300: #025f5a;
$teal-500: #013531;

$theme-colors: (
  primary: $teal-500,
  primary100: $teal-100,
  primary500: $teal-300,
  secondary: $gray-300,
  secondary100: $gray-100,
  secondary400: $gray-400,
);

$text-color-500: $gray-500;
$text-color-400: $gray-400;
$text-on-primary: $white;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
$spacers: ();

$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * 0.25),
    2: ($spacer * 0.5),
    3: ($spacer * 0.75),
    4: $spacer,
    5: ($spacer * 1.25),
    6: ($spacer * 1.5),
    7: ($spacer * 1.75),
    8: ($spacer * 2),
    9: ($spacer * 3)
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;

$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

$body-bg: $white;
$body-color: $text-color-500;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$border-width: 1px;
$border-color: $gray-200;

// Navbar
$mobile-navbar-height: 3rem;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
$zindex-overlayer: 1005;
$zindex-header: 1010;

// Components
//
// Define common padding and border radius sizes and more.

$border-radius: 0.25rem;

$transition-duration-short: 0.2s;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$root-font-size: 16px;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$font-size-base:              1rem;
$font-size-lg:                $font-size-base * 1.125;
$font-size-sm:                $font-size-base * 0.875;
$font-size-xs:                $font-size-base * 0.75;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$headings-margin-bottom: $spacer / 2 !default;
$headings-font-family: null !default;
$headings-font-weight: $font-weight-bold;
$headings-line-height: 1.2 !default;
$headings-color: theme-color("primary");

// Form elements
$form-field-color: $body-color;
$form-field-bg: $white;
$form-field-height: auto;
$form-field-border-width: 1px;
$form-field-border-color: $border-color;
$form-field-border-radius: 0;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1300px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1248px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12;
$grid-gutter-width: 16px;
$grid-item-min-width: 200px;

$mobile-menu-breakpoint: 992px;
