/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$white: #fff;
$gray-100: #efefef;
$gray-200: #ccc;
$gray-300: #999;
$gray-400: #666;
$gray-500: #333;
$black: #000;

$blue: #525ddc;
$teal-dark: #013531;

$theme-colors: (
  primary: $teal-dark,
  secondary: $gray-300,
);

$text-color-500: $gray-500;
$text-color-400: $gray-400;
$text-on-primary: $white;

$body-bg: $white;
$body-color: $text-color-500;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$root-font-size: 16px;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$border-width: 1px;
$border-color: $gray-200;

$grid-columns: 12;
$grid-gutter-width: 16px;

$mobile-menu-breakpoint: 992px;
